# Default ignored files
/shelf/
/workspace.xml

# Ignore all compressed files
*.zip
*.gz
*.rar
*.7z

# Ignore all data files
*.bed
*.gtf
*.bigbed
*.fasta
*.svg
*.fa
*.fa.fai
*.gaf

# Ignore the following folders
PDF/
.vscode/
.idea/

annotate/human/*.csv
annotate/mouse/*.csv
classifier/MLP/experiment_details
classifier/SVM/experiment_details
data/raw/*.csv
data/raw/*.txt
HinSAGE/human
HinSAGE/mouse
experiment/**/*.csv
experiment/**/*.txt
omics/protein/mouse/filtered_exp.csv
