# Default ignored files
/shelf/
/workspace.xml

# Ignore all compressed files
*.zip
*.gz
*.rar
*.7z

# Ignore all data files
*.bed
*.gtf
*.bigbed
*.fasta
*.svg
*.fa
*.fa.fai
*.gaf
*.bw
*.rpt
*.gct
*.xlsx

# Ignore the following folders
.vscode/
.idea/
dalunwen/

annotate/human/*.csv
annotate/mouse/*.csv
classifier/SVM/performance/
classifier/MLP/performance/
data/**/*.csv
data/raw/*.txt
HinSAGE/human
HinSAGE/mouse
experiment/**/*.txt
experiment/**/*.csv
!experiment/permutation_test/human_shuffled/*.csv
!experiment/permutation_test/mouse_shuffled/*.csv
!experiment/ess_protein/CSEGs_CEGs.txt
!experiment/ess_protein/Mus musculus_genes.csv
experiment/**/*.xlsx
features/protein/**/*.tsv
reference_lncRNA/mouse/transcript/
reference_lncRNA/human/transcript/
results/human
results/mouse
process/benchmark/human/
process/benchmark/mouse/